:root {
  --pink: #FF79DA;
  --black: #17202a;
  --green: #99E2D0;
  --purple: #9356DC;
  --gray: #e5e5e5;
  --gray_dark: #f2f2f2;
  --white: #FFFFFF;
}

html {
  min-width: auto;
}

/* body */
body {
  color: var(--black);
  font-family: "Roboto", sans-serif;
  min-width: 360px;
}

/* main */

/* header */

/* nav */
form.search_form {
  background-color: var(--gray);
  height: 50px;
  justify-content: center;
  align-items: center;
  width: auto;

}

.search_form_text {
  background: none;
  border: none;
  font-weight: bold;
  height: 22px;
  font-size: small;
  width: auto;
  justify-content: center;
}

.logo_ohmyfood {
  font-size: small;
  padding: 9px 0 7px 70px;
  margin: 10px 10px 12px 10px;
  font-family: "Shrikhand";
}

.research {
  background-color: var(--gray_dark);
  padding: 40px 0 30px 0;
  width: auto;
}

.title {
  font-family: "Shrikhand";
}

.restaurants {
  background-color: var(--gray);
  width: auto;
}
figcaption{
  background-color: var(--white);
  border-radius: 10px 10px 10px 10px;
}
img .enchanted_note{
  border-radius: 0 0 12px 0;
}

/*footer*/

footer {
  color: var(--white);
  background-color: var(--black);
  width: auto;
}

footer a {
  text-decoration: none;
  color: var(--white);
}

ul {
  text-decoration: none;
}