:root {
  --pink: #FF79DA;
  --black: #17202a;
  --green: #99E2D0;
  --green_dark: #008766;
  --purple: #9356DC;
  --gray: #e5e5e5;
  --gray_dark: #f2f2f2;
  --white: #FFFFFF;
  --thistle: #D8BFD8;
  --heart: #C968DB;
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    z-index: 1;
  }
}

@-webkit-keyframes loading {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    z-index: 1;
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }


}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

/* body */

html,
body {
  margin: 0;
  color: var(--black);
  font-family: "Roboto", sans-serif;
  min-width: 320px;
}

/* header */
header {
  position: relative;
  box-shadow: 0 5px 5px;
  z-index: auto;
}

/* main */

main {
  width: auto;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: -1;
}

/*research*/

form.search_form {
  display: flex;
  background-color: var(--gray);
  height: 50px;
  width: auto;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

/*function*/

.menu_detail {
  font-size: small;
  font-weight: 300;
  margin: 10px 12px 15px 10px;
}

ol {
  counter-reset: funtions;
}

li {
  margin-bottom: 10px;
  list-style-type: none;
  counter-increment: functions;
}

li:before {
  margin: 15px 10px 15px -17px;
  padding: 12px 20px 14px 15px;
  vertical-align: top;
  background: var(--purple);
  border-radius: 30px 30px 30px 30px;
  font-weight: bold;
  font-size: medium;
  color: var(--white);
  content: counter(functions);
}

/*restaurants*/

main figure a {
  color: var(--black);
  text-decoration: none;
}

main figure img {
  object-fit: cover;
  width: auto;
  margin: -15px -7px 10px -40px;
}

main figure div {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

hr {
  width: 2.5rem;
  border-top: 3px solid var(--green);
  margin: -14px 0 0 0;

}

section li:before {
  display: none;
}

/*footer*/

footer {
  display: flex;
  flex-direction: column;
  width: auto;
  color: var(--white);
  background-color: var(--black);
}

footer a {
  text-decoration: none;
  color: var(--white);
}

footer li:before {
  display: none;
}

ul {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 15px -43px;
}

/*4 menus*/

h2 {
  margin-bottom: 20px;
  font-size: medium;
  font-weight: lighter;
  text-transform: uppercase;
}

/*loader*/
.loading_page {
  height: 500px;
  line-height: 500px;
  animation: loading 3s;
  transition: 3s;
  text-align: center;
  z-index: 3;
}


.loader {
  display: flex;
  position: absolute;
  border: 16px solid var(--purple);
  border-top: 16px solid var(--pink);
  border-right: 16px solid var(--gray);
  border-bottom: 16px solid var(--green);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  justify-content: center;
  -webkit-box-pack: center;
  animation: spin 3s linear infinite;
  -webkit-animation: spin 3s linear infinite;
  z-index: 2;
}

.title_loader {
  display: flex;
  font-weight: bold;
  color: var(--pink);
}

.loader:after {
  content: "";
  position: absolute;
  animation: spin 2s linear infinite;
  -webkit-animation: spin 3s linear infinite;
}


/*logo*/
.logo_ohmyfood {
  display: flex;
  padding: 10px 15px 15px 90px;
  width: auto;
  font-size: small;
  font-family: "Shrikhand";
}

/*research*/

.research_title {
  display: flex;
  margin: 12px 12px 10px 6px;
  padding: 0 4px 12px 0;
  width: 100%;
  font-weight: bold;
}

.search_form_text {
  width: auto;
  justify-content: center;
  color: var(--black);
  background: none;
  border: none;
  font-weight: bold;
  font-size: medium;
}

.explorer {
  display: flex;
  margin: 24px 15px 15px 12px;
  border: 0;
  font-weight: bold;
  font-size: medium;
  border-radius: 100px;
  color: var(--white);
  background-image: linear-gradient(0deg, rgba(147, 86, 220, .9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1s;
  text-decoration: none;
  justify-content: center;
}

.explorer:hover {
  transform: scale(1.15);
  box-shadow: 12px 12px 2px 1px rgb(1 2 43 / 19%);
}

.research {
  padding: 10px 0 10px 15px;
  width: auto;
  background-color: var(--gray_dark);
}

.title {
  font-family: "Shrikhand";
}


/*Fonctionnement*/

.function {
  flex-direction: row;
  align-items: center;
  background-color: var(--white);
}

.function_title,
.restaurants_title {
  margin: 0;
  font-size: medium;
  font-weight: bold;
}

.function_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
}

.choice {
  display: flex;
  margin: 0 10px 15px 30px;
  border-radius: 20px;
  width: 90%;
  align-items: center;
  font-weight: bold;
  background-color: var(--gray_dark);
  box-shadow: 1px 3px 8px #d1d1d1;
  cursor: pointer;
}

.choice:hover {
  background-color: var(--thistle);
  color: var(--black);
}

/*restaurants*/
.notify-badge {
  display: flex;
  position: absolute;
  margin-left: 200px;
  margin-bottom: 200px;
  margin-top: 10px;
  height: 30px;
  width: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: var(--green);
  color: var(--green_dark);
  font-size: 13px;
  font-weight: bold;
}

.restaurants {
  padding: 12px 10px 10px 10px;
  width: auto;
}

.heat-empty {
  position: relative;
  z-index: 1;
}

.heart-empty:hover {
  display: none;
}

.heart-full {
  display: none;
}

.heart-empty:hover~.heart-full {
  display: block;
  color: var(--heart);
  cursor: pointer;
  transform: scale(1);
  opacity: 1;
}

.fa-list-ul,
.fa-store,
.fa-mobile-alt {
  margin: 10px 10px 10px 10px;
}

.fa-store:hover {
  background-color: var(--white);
  color: var(--purple);
}

.fa-mobile-alt:hover {
  background-color: var(--white);
  color: var(--purple);
}

.fa-list-ul:hover {
  background-color: var(--white);
  color: var(--purple);
}


/*4 menus*/
.order-dishes {
  display: flex;
  text-decoration: none;
  justify-content: center;
  margin: 24px 15px 15px 6px;
  padding: 12px 4px 14px 13px;
  width: 85%;
  border: 0;
  font-weight: bold;
  font-size: medium;
  border-radius: 100px;
  color: var(--white);
  background-image: linear-gradient(0deg, rgba(147, 86, 220, .9), rgba(255, 121, 218, .9));
  cursor: pointer;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1s;

}

.order-dishes:hover {
  transform: scale(1.15);
  box-shadow: 12px 12px 2px 1px rgb(1 2 43 / 19%);
}


.price {
  display: flex;
  justify-content: flex-end;
  margin: -35px 15px 15px 0;
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;

}


.fa-check-circle {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1;
}

.check,
.fa-check-circle {
  opacity: 0;
  color: var(--white);
  font-size: small;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: .8s;
  transition: .8s;
}

.check:hover {
  width: 15%;
}

/*footer*/

.footer_title {
  margin: 10px 10px 10px 15px;
  font-weight: bold;
  font-size: large;
}

.fa-utensils:before,
.fa-hands-helping:before {
  margin: 10px 10px 10px 15px;
}

.footer_list,
.notice,
.messenger {
  display: flex;
  text-decoration: none;
}

.ustensil,
.helping,
.notice,
.messenger {
  display: flex;
  padding: 10px 12px 10px 12px;
}

.contact {
  font-weight: bold;
  font-style: normal;
  padding: 0 0 0 5px;
  margin: -25px 10px 8px -8px;
}

.animation_meal {
  position: relative;
  z-index: 99;
  margin-top: -40px;
  height: 1400px;
  background-color: var(--gray);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

/*4 menus*/
.menu {
  position: relative;
  background-color: var(--white);
  height: 70px;
  padding: 0 0 15px 0;
  margin: 1rem 0 12px 0;
  cursor: pointer;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  border-radius: 1.5rem;
  -webkit-box-shadow: 3px 3px 10px #dedada;
  box-shadow: 3px 3px 10px #dedada;
  grid-column-start: 2;
  opacity: 0;
  -webkit-animation: slideUp 500ms 0.6s ease-in-out both;
  animation: slideUp 500ms 0.6s ease-in-out both;
  -webkit-animation: slideUp 500ms 0.2s ease-in-out both;
  animation: slideUp 500ms 0.2s ease-in-out both;
}

.title {
  margin: 6px 0 5px 12px;
  font-weight: bold;
  font-size: medium;
}

/*landscape*/
@media (min-width: 576px) {
  .explorer {
    margin: 24px 15px 15px 12px;
  }
}

/*tablets*/
@media (min-width: 768px) {
  figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }


  .function_card {
    flex-direction: row;
    justify-content: space-around;
  }

  .choice {
    width: 210px;
    height: 60px;
    font-size: medium;
    font-weight: bold;
  }

  .all_cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  .explorer {
    margin: 24px 15px 15px 12px;
  }

}

/*desktops*/
@media (min-width: 992px) {
  .explorer {
    margin: 24px 15px 15px 12px;
  }

}

/*large desktops*/
@media (min-width: 1200px) {
  .explorer {
    margin: 24px 15px 15px 12px;
  }

  .animation_menu {
    display: flex;
    justify-content: space-around;

  }

}