<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="mbey_koumatey">
  <title>Menu-la palette du goût | Ohmyfood</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../style.css">
</head>

<body>
  <header>
    <a href="../index.html"><i class="fas fa-arrow-left fa-2x"></i>
      <img src="../images/logo/ohmyfood@2x.svg" alt=" logo du site ohmyfood"></a>
  </header>
  <main class="menu_main">
    <img src="../images/restaurants/la_palette_du_goût.jpg" srcset="../images/restaurants/la_palette_du_goût.jpg 5w,
          ../images/restaurants/la_palette_du_goût.jpg 10w,
          ../images/restaurants/la_palette_du_goût.jpg 20w,
           ../images/restaurants/la_palette_du_goût.jpg 4402w" sizes="100vw"
      alt="Photo d'un plat du restaurant La palette du goût à Paris Ménilmontant">

    <div class="menu_global">
      <header class="animation_menu">
        <h1 class="menu_title">La palette du goût
          <i class="far fa-heart heart-empty fa-2x"></i>
          <i class="fas fa-heart heart-full fa-2x"></i>
        </h1>
      </header>
    </div>
    <section class="global">

      <section class="starter_dishe">
        <h2>Entrées</h2>
        <hr>
        <ul class="meal anim_starter">

          <li class="animation menu_starter1">
            <section class="menu">
              <h3 class="title">Fricassée d'escargot</h3>
              <p class="menu_detail">Au piment d'Espelette </p>
              <b class="price">25€</b>
            </section>
            <span class="check">
              <i class="fas fa-check-circle  fa-2x"></i>
            </span>
          </li>

          <li class="animation menu_starter2">
            <section class="menu">
              <h3 class="title">Foie gras de canard mi-cuit</h3>
              <p class="menu_detail">Et ses copeaux de truffe noire</p>
              <b class="price">35€</b>
            </section>
            <span class="check">
              <i class="fas fa-check-circle"></i>
            </span>
          </li>

          <li class="animation menu_starter3">
            <section class="menu ">
              <h3 class="title"> Oeuf au plat</h3>
              <p class="menu_detail">Assaisonné à la truffe sur lit de caviar</p>
              <b class="price">20€</b>
            </section>
            <span class="check">
              <i class="fas fa-check-circle fa-2x"></i>
            </span>
          </li>
        </ul>
      </section>

      <section class="main_dishe">
        <h2>Plats</h2>
        <hr>
        <ul class="meal anim_dishe">

          <li class="animation anim_dishe1">
            <section class="menu">
              <h3 class="title">Filet de boeuf aux herbes</h3>
              <p class="menu_detail">Accompagné de sa ribambelle de légumes</p>
              <b class="price">40€</b>
            </section>
            <span class="check">
              <i class="fas fa-check-circle fa-2x"></i>
            </span>

          </li>

          <li class="animation anim_dishe2">
            <section class="menu">
              <h3 class="title">Parmentier de queue de boeuf</h3>
              <p class="menu_detail">À la truffe noire sur sa purée de panais</p>
              <b class="price">35€</b>
            </section>
            <span class="check">
              <i class="fas fa-check-circle fa-2x"></i>
            </span>

          </li>

          <li class="animation anim_dishe3">
            <section class="menu">
              <h3 class="title">Filet de turbot</h3>
              <p class="menu_detail">Aux agrumes</p>
              <b class="price">44€</b>
            </section>
            <span class="check">
              <i class="fas fa-check-circle fa-2x"></i>
            </span>

          </li>
        </ul>
      </section>

      <section class="desserts ">
        <h2> Désserts</h2>
        <hr>
        <ul class="meal anim_desserts">

          <li class="animation anim_desserts1">
            <section class="menu">
              <h3 class="title">Paris-Brest</h3>
              <p class="menu_detail">Revisité</p>
              <b class="price">18€</b>
            </section>
            <span class="check">
              <i class=" fas fa-check-circle fa-2x"></i>
            </span>

          </li>

          <li class="animation anim_desserts2">
            <section class="menu">
              <h3 class="title">Macaron au chocolat d'exception </h3>
              <p class="menu_detail">Et glace à la vanille de Madagascar</p>
              <b class="price">22€</b>
            </section>
            <span class="check">
              <i class="fas fa-check-circle fa-2x"></i>
            </span>

          </li>

          <li class="animation anim_desserts3">
            <section class="menu">
              <h3 class="title">Mousse au chocolat</h3>
              <p class="menu_detail">Au piment d'Espelette et à la truffe noire</p>
              <b class="price">23€</b>
            </section>
            <span class="check">
              <i class="fas fa-check-circle fa-2x"></i>
            </span>
          </li>
        </ul>
      </section>
      <button class="order-dishes"><a href="#">Commander</a></button>
    </section>
  </main>

  <footer class="footer_menu">
    <img class="footer_logo" src="../images/logo/ohmyfood@2x.svg" alt="logo du site ohmyfood">
    <ul class="menu_footer">
      <li class="footer_list"><i class="fas fa-utensils"></i>
        <a href="#" class="suggest_a_restaurant">Proposer un restaurant</a>
      </li>

      <li class="footer_list">
        <i class="fas fa-hands-helping"></i>
        <a href="#" class="partner">Devenir partenaire</a>
      </li>

      <li class="notice">
        <a href="#" class="legal_notice">Mentions légales</a>
      </li>
    </ul>
    <address class="messenger">
      <a href="mailto:#" class="contact">Contact</a>
    </address>

  </footer>
</body>

</html>