<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="mbey_koumatey">
  <title>Menu-la note enchantée | Ohmyfood</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../style.css">
</head>

<body>
  <main class="menu_main">
    <header class="navigator_header">
      <a href="../index.html">
        <i class="fas fa-arrow-left"></i>
      </a>
      <a href="../index.html">
        <img src="../images/logo/ohmyfood@2x.svg" alt=" logo du site ohmyfood " class=" logo_ohmyfood ">
      </a>
    </header>

    <figure class="menu">
      <img src="../images/restaurants/la_note_enchantée.jpg" srcset="../images/restaurants/la_note_enchantée.jpg 5w,
           ../images/restaurants/la_note_enchantée.jpg 10w,
           ../images/restaurants/la_note_enchantée.jpg 20w,
           ../images/restaurants/la_note_enchantée.jpg 3024w" sizes="100vw" alt class="image_menu_enchante">
    </figure>
  

      <section class="animation_menu">
        <h1>La note enchantée</h1>
        <i class="far fa-heart fa-2x"></i>

        <section class="starter_dishes">
          <h2>Entrées</h2>

          <hr>

          <article class="animation_starter">
            <h3>Ravioles de foie gras </h3>
            <p>Accompagnés de leur crème à la truffe</p>
            <b class="price">25€</b>
            <i class="fas fa-check-circle fa-2x"></i>
          </article>


          <article class="animation_starter">
            <h3>Caviar osciètre</h3>
            <p>Sur blini à la farine de blé noir</p>
            <b class="price">35€</b>
            <i class="fas fa-check-circle fa-2x"></i>
          </article>


          <article class="animation_starter">
            <h3>Homard et espuma de potiron </h3>
            <p>Mariné aux zestes d'orange</p>
            <b class="price">20€</b>
            <i class="fas fa-check-circle fa-2x"></i>
          </article>


          <article class="animation_starter">
            <h3>Foie gras de canard cuit entier</h3>
            <p>Confiture de figue et pain toasté</p>
            <b class="price">35€</b>
            <i class="fas fa-check-circle fa-2x"></i>
          </article>
        </section>

        <section class="main_dishes">
          <h2>Plats</h2>
          <hr>

          <article class="animation_dishe">
            <h3>Noix de coquilles Saint-Jacques</h3>
            <p>Sur lit de purée de céleri-rave</p>
            <b class="price">40€</b>
            <i class="fas fa-check-circle fa-2x"></i>
          </article>

          <article class="animation_dishe">
            <h3>Langoustine poêlée</h3>
            <p>Purée de patate douce</p>
            <b class="price">35€</b>
            <i class="fas fa-check-circle fa-2x"></i>
          </article>

          <article class="animation_dishe">>
            <h3>Mijoté de queue de boeuf </h3>
            <p>Et riz sauvage aux zestes de citron</p>
            <b class="price">44€</b>
            <i class="fas fa-check-circle fa-2x"></i>
          </article>
        </section>

        <section class="Desserts">
          <h2> Désserts</h2>
          <hr>

          <article class="animation_desserts">
            <h3>Macaron noisette et chocolat</h3>
            <p>Glace au caramel brun et sel de Guérande</p>
            <b class="price">18€</b>
            <i class="fas fa-check-circle fa-2x"></i>
          </article>


          <article class="animation_desserts">
            <h3>Baba au rhum revisité </h3>
            <p>Avec son coulis de citron</p>
            <b class="price">22€</b>
            <i class="fas fa-check-circle fa-2x"></i>
          </article>


          <article class="animation_desserts">
            <h3>Tarte au citron meringuée</h3>
            <p>Déstructurée</p>
            <b class="price">23€</b>
            <i class="fas fa-check-circle fa-2x"></i>
          </article>
        </section>

      </section>
    </section>
    <button class="order-dishes">Commander</button>
  </main>

  <footer>
    <h3>Ohmyfood</h3>
    <ul class="menu_footer">
      <li><i class="fas fa-utensils"></i>
        <a href="#" class="suggest_a_restaurant">Proposer un restaurant</a>
      </li>

      <li>
        <i class="fas fa-hands-helping"></i>
        <a href="#" class="partner">Devenir partenaire</a>
      </li>

      <li class="notice">
        <a href="#" class="legal_notice">Mentions légales</a>
      </li>

      <li class="messenger">
        <a href="mailto:#" class="contact">Contact</a>
      </li>
    </ul>
  </footer>

</body>

</html>