<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="mbey_koumatey">
  <title>Menu-la délice des sens | Ohmyfood</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../style.css">
</head>

<body>

  <header class="navigator_header">
    <a href="../index.html">
      <i class="fas fa-arrow-left"></i>
    </a>
    <a href="../index.html">
      <img src="../images/logo/ohmyfood@2x.svg" alt=" logo du site ohmyfood " class=" logo_ohmyfood ">
    </a>
  </header>
  <main class="menu_main">
    <figure class="menu">
      <img src="../images/restaurants/les_délices_du_sens.jpg" srcset="../images/restaurants/les_délices_du_sens.jpg 630w,
           ../images/restaurants/les_délices_du_sens.jpg 1260w,
          ../images/restaurants/les_délices_du_sens.jpg 2520w,
        ../images/restaurants/les_délices_du_sens.jpg 5040w" sizes="100vw" alt class="image_menu">
    </figure>

    <section>
      <section class="animation_menu">
        <h1>La délice des sens</h1>
        <i class="far fa-heart heart-empty fa-2x"></i>
        <i class="fas fa-heart heart-full fa-2x"></i>

        <section class="starter_dishes">
          <h2>Entrées</h2>
          <hr>
          <article class="animation_starter">
            <h3>Tartare de thon</h3>
            <p>Assaisonné au yuzu</p>
            <b class="price">25€</b>
            <i class="fas fa-check-circle fa-2x"></i>
          </article>

          <article class="animation_starter">
            <h3>Bouchée de homard croustillant</h3>
            <p>Et sa farandole de petits légumes</p>
            <b class="price">35€</b>
            <i class="fas fa-check-circle fa-2x"></i>
          </article>

          <article class="animation_starter">
            <h3>Velouté de cèpes</h3>
            <p>Aux truffes</p>
            <b class="price">20€</b>
            <i class="fas fa-check-circle fa-2x"></i>
          </article>
        </section>

        <section class="main_dishes">
          <h2>Plats</h2>
          <hr>
          <article class="animation_dishes">
            <h3>Poulet rôti aux herbes de Provence </h3>
            <p>Et sa crème de truffe</p>
            <b class="price">40€</b>
            <i class="fas fa-check-circle fa-2x"></i>
          </article>

          <article class="animation_dishe">
            <h3>Langouste rôtie </h3>
            <p>Et ses légumes de saison</p>
            <b class="price">35€</b>
            <i class="fas fa-check-circle fa-2x"></i>
          </article>

          <article class="animation_dishe">
            <h3>Côte de boeuf Angus </h3>
            <p>Et sa purée de panais</p>
            <b class="price">44€</b>
            <i class="fas fa-check-circle fa-2x"></i>
          </article>
        </section>

        <section class="Desserts">
          <h2> Désserts</h2>
          <hr>
          <article class="animation_desserts">>
            <h3>Farandole de desserts</h3>
            <p>Du chef</p>
            <b>18€</b>
            <i class="fas fa-check-circle fa-2x"></i>
          </article>

          <article class="animation_desserts">>
            <h3>Crème brulée </h3>
            <p>Revisitée</p>
            <b>22€</b>
            <i class="fas fa-check-circle fa-2x"></i>
          </article>

          <article class="animation_desserts">>
            <h3>Tiramisu</h3>
            <p>À la noisette</p>
            <b>23€</b>
            <i class="fas fa-check-circle fa-2x"></i>
          </article>
        </section>

      </section>
      <button class="order-dishes">
        Commander
      </button>
  </main>



  <footer>
    <h3>Ohmyfood</h3>
    <ul class="menu_footer">
      <li><i class="fas fa-utensils"></i>
        <a href="#" class="suggest_a_restaurant">Proposer un restaurant</a>
      </li>

      <li>
        <i class="fas fa-hands-helping"></i>
        <a href="#" class="partner">Devenir partenaire</a>
      </li>

      <li class="notice">
        <a href="#" class="legal_notice">Mentions légales</a>
      </li>

      <li class="messenger">
        <a href="mailto:#" class="contact">Contact</a>
      </li>
    </ul>
  </footer>

</body>

</html>