<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="mbey_koumatey">
  <title>Menu-à la française | Ohmyfood</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../style.css">
</head>

<body>

  <header class="navigator_header">
    <a href="../index.html">
      <i class="fas fa-arrow-left fa-2x"></i>
      <img src="../images/logo/ohmyfood@2x.svg" alt=" logo du site ohmyfood " class=" logo_ohmyfood ">
    </a>
  </header>

  <main class="menu_main">
    <img src="../images/restaurants/plat_a_la_francaise.jpg" srcset="../images/restaurants/plat_a_la_française.jpg 492w,
           ../images/restaurants/plat_a_la_française.jpg 984w,
           ../images/restaurants/plat_a_la_française.jpg 1968w,
           ../images/restaurants/plat_a_la_française.jpg 3936w" sizes="100vw" alt="Photo d'un plat menu à la française"
      class="image_menu">

    <div class="menu_global">
      <section class="animation_menu">
        <h1>À la française
          <i class="far fa-heart heart-empty fa-2x"></i>
          <i class="fas fa-heart heart-full fa-2x"></i>
        </h1>
      </section>
    </div>

    <section class="starter_dishe">
      <h2>Entrées</h2>
      <hr>
      <ul class="meal menu_starter">
        <li class="animation anim_starter1">
          <section class="menu">
            <h3>Tartare de poulpe acidulé</h3>
            <p>Aux zestes d'orange</p>
            <b class="price">25€</b>
          </section>
          <span class="check">
            <i class="fas fa-check-circle fa-2x"></i>
          </span>
        </li>

        <li class="animation menu_starter2">
          <section class="menu">
            <h3>Velouté de légumes d'antan</h3>
            <p>Carotte, panais, topinambour</p>
            <b class="price">35€</b>
          </section>
          <span class="check">
            <i class="fas fa-check-circle fa-2x"></i>
          </span>
        </li>

        <li class="animation menu_starter3">
          <section class="menu">
            <h3>Soupe à l'oignon</h3>
            <p>Revisitée</p>
            <b class="price">20€</b>
          </section>
          <span class="check">
            <i class="fas fa-check-circle fa-2x"></i>
          </span>
        </li>
      </ul>
    </section>

    <section class="main_dishes">
      <h2>Plats</h2>
      <hr>
      <ul class="meal anim_dishe">
        <li class="animation anim_dishe1">
          <section class="menu">
            <h3>Coquilles Saint-Jacques</h3>
            <p>Accompagnées d'une purée de panais</p>
            <b class="price">40€</b>
          </section>
          <span class="check">
            <i class="fas fa-check-circle fa-2x"></i>
          </span>
        </li>

        <li class="animation anim_dishe2">
          <section class="menu">
            <h3>Magret de canard</h3>
            <p>Et parmentier de pommes de terre</p>
            <b class="price">35€</b>
          </section>
          <span class="check">
            <i class="fas fa-check-circle fa-2x"></i>
          </span>
        </li>

        <li class="animation anim_dishe3">
          <section class="menu">
            <h3>Pigeonneau d’Ille-et-Vilaine</h3>
            <p>Sur son lit de gnocchis aux légumes</p>
            <b class="price">44€</b>
          </section>
          <span class="check">
            <i class="fas fa-check-circle fa-2x"></i>
          </span>
        </li>
      </ul>
    </section>

    <section class="Desserts">
      <h2> Désserts</h2>
      <hr>
      <ul class="meal anim_desserts">
        <li class="animation anim_desserts1">
          <section class="menu">
            <h3>Pétales de violettes glacés</h3>
            <p>Et purée de noisettes</p>
            <b class="price">18€</b>
          </section>
          <span class="check">
            <i class="fas fa-check-circle fa-2x"></i>
          </span>
        </li>

        <li class="animation anim_desserts2">
          <section class="menu">
            <h3>Fondant au chocolat</h3>
            <p>Revisité</p>
            <b class="price">22€</b>
          </section>
          <span class="check">
            <i class="fas fa-check-circle fa-2x"></i>
          </span>
        </li>

        <li class="animation anim_desserts3">
          <section class="menu">
            <h3>Millefeuille croustillant</h3>
            <p>Myrtilles et pâte d’amande</p>
            <b class="price">23€</b>
          </section>
          <span class="check">
            <i class="fas fa-check-circle fa-2x"></i>
          </span>
        </li>
      </ul>
    </section>
    <button class="order-dishes"><a href="#">Commander</a></button>
    </section>
  </main>

  <footer class="footer_menu">
    <img class="footer_logo" src="../images/logo/ohmyfood@2x.svg" alt="logo du site ohmyfood">
    <ul class="menu_footer">
      <li class="footer_list"><i class="fas fa-utensils"></i>
        <a href="#" class="suggest_a_restaurant">Proposer un restaurant</a>
      </li>

      <li class="footer_list">
        <i class="fas fa-hands-helping"></i>
        <a href="#" class="partner">Devenir partenaire</a>
      </li>

      <li class="notice">
        <a href="#" class="legal_notice">Mentions légales</a>
      </li>
    </ul>
    <address class="messenger">
      <a href="mailto:#" class="contact">Contact</a>
    </address>

  </footer>
</body>

</html>